:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --body-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #2f303a;
  --background-color-active: #188ce8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "roboto", sans-serif;
  background-color: var(--white-color);
}

.reset p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.accent {
  color: var(--primary-text-color);
}

/* Site-nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav.list {
  margin-left: 93px;
  padding-left: 0;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.site-connect {
  display: flex;
}

.site-connect .item {
  margin-right: 50px;
}

.site-connect .item:last-child {
  margin-right: 0px;
}

.site-connect .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-connect.list {
  margin-left: auto;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-connect .link:hover,
.site-connect .link:focus {
  color: var(--accent-color);
}

.header-link {
  line-height: 1.14;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-background-color);
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Button */

.button {
  margin-top: 0;
  margin-bottom: 144px;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.button:hover,
.button:focus {
  background-color: var(--background-color-active);
}

/* Section */

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-list {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list .item {
  min-width: 270px;
}

.section-primary-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-secondary-title {
  text-align: start;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.section-txt {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  margin: 0 auto;
  width: 1200px;
}

.section-list {
  padding-top: 0;
  padding-bottom: 94px;
}

.service .item {
  width: 370px;
  gap: 30px;
}

.service .item:last-child {
  margin-right: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  width: 1200px;
}

.team-list {
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
  width: 270px;
  background-color: var(--white-color);
}

.team-list:last-child {
  margin-right: 0;
}

.section-team .list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.section-member {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.section-role {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* Footer */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  width: 1200px;
}

.footer .accent {
  color: var(--white-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list.item {
  margin-bottom: 9px;
}

.footer-list .map-link {
  color: var(--white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
