:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --body-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #2f303a;
  --background-color-active: #188ce8;
}

.body {
  font-family: "roboto", sans-serif;
  background-color: var(--white-color);
}

/* Header */

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.accent {
  color: var(--primary-text-color);
}

/* Site-nav */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-connect .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-connect .link:hover,
.site-connect .link:focus {
  color: var(--accent-color);
}

.header-link {
  line-height: 1.14;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: var(--primary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Button */

.button {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.button:hover,
.button:focus {
  background-color: var(--background-color-active);
}

/* Section */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.section-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.team-list {
  background-color: var(--white-color);
}

.section-team .list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.section-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.section-role {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* Footer */

.footer .accent {
  color: var(--white-color);
}

.footer {
  background-color: var(--primary-background-color);
}

.footer-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list .map-link {
  color: var(--white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
