:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "roboto", sans-serif;
}

.reset p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* Header */

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.accent {
  color: var(--primary-text-color);
}

/* Site-nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav.list {
  margin-left: 93px;
  padding-left: 0;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.site-connect {
  display: flex;
}

.site-connect .item {
  margin-right: 50px;
}

.site-connect .item:last-child {
  margin-right: 0px;
}

.site-connect .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-connect.list {
  margin-left: auto;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-connect .link:hover,
.site-connect .link:focus {
  color: var(--accent-color);
}

.header-link {
  line-height: 1.14;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Button */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .item {
  margin-right: 8px;
}

.button-list .item:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  min-width: 130px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-list.list {
  margin-top: 0;
}

/* Section */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-element {
  width: 370px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}
.section {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-text-color);
}

.section-list .section-txt {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.section-list.list {
  margin-bottom: 0px;
}

.section-txt-end {
  margin-bottom: 0;
  text-align: center;
}

/* Footer */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  width: 1200px;
}

.footer .accent {
  color: var(--white-color);
}

.footer {
  background-color: var(--primary-background-color);
}

.footer-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list.list {
  padding-left: 0;
}

.footer-list .map-link {
  color: var(--white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
